/* Top Bar + Header + Pageintro Wrapping Spacer
--------------------------------------------------------------------------------------------------------------- */
.topspacer{padding:80px 0;}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:8px 15px; border-radius:5px 5px 0 0; font-size:.8rem; text-transform:uppercase;}

#topbar *{margin:0;}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}

/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:0 15px;}

#header #logo{margin:28px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}